header,footer{
	background-image: linear-gradient(0deg, #b4ebca,#d3fac7);
	
	/* height: 100px; */
}
header nav{

	display: flex;
	height: 100px;
	justify-content: space-around;
	align-items: center;
}
header nav ul{
	display: flex;
}
header nav .logo a{
	padding: 10px 20px;
	height: 30px;
	line-height: 30px;
	border: 1px dotted #000;
	border-radius: 10px;
	transition: .4s;
	font-size: 20px;
}
header nav .logo:hover a{
	color:#f00;
	background-color: #bcf4f5;
	text-decoration: none;
}

header nav ul li{
	margin:10px 20px;
	display: flex;
}
header nav ul li:hover {
	transform: translateY(-5px);
}

nav a::after {
	content: "";
	position: absolute;
	left: 50%;
	right: 50%;
	height: 0;
	bottom: -20px;
	border-bottom: 5px solid #fff;
	transition: .5s ease-in-out;
	/* transition-delay: 0.3s; */
  }
  ul li:hover a:after {
	left: 0;
	right: 0;
  }
footer{
	text-align: center;
	height: 50px;
	line-height: 50px;
}